/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */


	
@font-face {
	font-family: "Georgia Pro Lt";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13550/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13550/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13550/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13550/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
	
@font-face {
	font-family: "Georgia Pro Reg";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13551/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13551/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13551/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13551/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
	
@font-face {
	font-family: "Georgia Pro It";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13552/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13552/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13552/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13552/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
	
@font-face {
	font-family: "Georgia Pro Lt It";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13553/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13553/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13553/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13553/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
	
@font-face {
	font-family: "Georgia Pro Semi Bd";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13554/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13554/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13554/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13554/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
	
@font-face {
	font-family: "Georgia Pro Semi Bd It";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/13555/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/13555/fontfile/eot/?7f0de6a2e157bd318451d4356fce48e8b7485469#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13555/fontfile/woff2/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/13555/fontfile/woff/?7f0de6a2e157bd318451d4356fce48e8b7485469") format("woff");

}
