@charset "utf-8";
/* MDT Reset Styles */
/* 	Date Created:  10/23/2012
	Date in Prod:  1/6/2014
	Date Modified: 
	Date Archived: 
		
	Do not minify - Minify the production version only
	
	Note: some resets are being handled by template.css A copy is available in /styles/ folder 
*/
a:focus {
	outline: thin dotted; /* Apply for consistency. Needed for screen readers */
} 
a:hover, a:active {
	outline: 0;
} 
ol, ul {
	list-style: none;
}   
caption, th, td {
	text-align: left;
	font-weight: normal;
}
 
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
q {
	quotes: '“' '”' '‘' '’';  /* opening followed by closing quote pairs.  */
} 
/* Note: The equivalent using Unicode escapes:q {quotes: '\201C' '\201D' '\2018' '\2019';} */
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
