/* ADHS red logo theme */

a,
.tp-caption a {
	color:#EE3224;
}

#footer li a:hover,
#footer a:hover,
a, a:hover, a:active,
#topNav ul.nav li li a:hover,
.tp-caption a:hover,
.featured-box-minimal h4,
.glyphicon, .wi,
p.dropcap:first-letter,
ul.side-nav a:hover,
ul.side-nav ul li.active>a,
.li, div.owl-carousel .caption,
.pagination>li>a,
.pagination>li>span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
div.mega-price-table .pricing:hover h4,
div.mega-price-table .pricing-table i.fa, /* icons */
#blog a>span,
#blog h1>span,
.cartContent a.remove_item:hover,
.owl-carousel.featured a.figure>span>i,
.btn-link,
.styleColor {
	color:#B92928;
}

#sectionContent a { /* a little bit bolded so they are more visible in the content */
	font-weight:500;
}

p.dropcap.color:first-letter,
span.badge,
#toTop:hover,
#bar, .slider-handle,
div.featured-box i.fa,
div.featured-box i.fas,
i.featured-icon,
.progress-bar-primary,
.modal-header,
.timeline .timeline-left .item:before,
.timeline .timeline-right .item:before,
.timeline .timeline-centered .item.pull-right:before,
.timeline .timeline-centered .item.pull-left:before,
div.mega-price-table .pricing-title,
div.mega-price-table .pricing-head,
div.mega-price-table .pricing.popular,
#topNav ul.nav>li:hover>a:before,
#topNav ul.nav>li.active>a:before,
.styleBackgroundColor {
	background-color:#B92928;
}

/* icons , boxes */
i.featured-icon:after,
div.featured-box.nobg.border-only i.fa {
	color:#B92928;
	border-color:#B92928;
}
section.product-view-colors a:hover,
section.product-view-colors a.active,
i.featured-icon {
	border-color:#B92928;

}
i.featured-icon.empty {
	color:#B92928 !important;
	border-color:#B92928;
}

/* Top Nav */
#topNav ul.nav .dropdown-menu>li.active>a,
#topNav ul.nav .dropdown-menu>li:hover>a,
#topNav ul.nav .dropdown-menu>li:focus>a {
	color:#fff !important;
	background-color:#B92928;
}

#topNav ul.dropdown-menu>li:hover>a.dropdown-toggle:after { /* arrow sub-submenu */
	color:#fff;
}

/* Buttons */
.btn-primary,
.btn-lg,
.btn-block {
	border-color:#B92928;
	background-color:#B92928;
}

.btn-white {
	color:#B92928 !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.daterangepicker td.active,
.daterangepicker td.active:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	border-color:#B92928;
	background-color:#B92928;
}


/* embed title - this removes the colorization of italic text in headers which was built into the template */
section header em,
h1>em, h2>em, h3>em, h4>em, h5>em, h6>em {
	font-style:italic;
	color:#727272;
}

/* Top Nav active/hover */
#topNav ul.nav>li.mega-menu>ul li:hover>a,
#topNav ul.nav>li.mega-menu>ul li.active>a,
#topNav ul.nav>li:hover:before,
#topNav ul.nav>li.active:before {
	background-color: #B92928;
}
/* Top Nav color active */
#topNav .nav-pills.colored>li.active>a,
#topNav .nav-pills.colored>li.active>a:hover,
#topNav .nav-pills.colored>li.active>a:focus {
	color:#fff;
	background-color:#B92928;
}

/* Misc */
.styleBackgroundColor,
.featured-box-minimal i.fa {
	background-color:#B92928;
}

ul.list-icon li:before {
	color:#B92928;
	font-size:16px;
}
body.boxed #topBar {
	border-top:#B92928 4px solid;
}

.panel-epona {
	border:#B92928 1px solid;
}

.panel-epona>.panel-heading {
	background-color:#B92928;
	color:#fff;
}

/* Slider Captions */
.tp-caption.block_styleColor {
	background-color: #B92928;
	color:#fff;
}
.tp-caption.block_white {
	color:#B92928;
}

/* flex slider */
.flexslider.flexFull .flex-direction-nav a:hover,
.flexslider.flexContent .flex-direction-nav a:hover {
	background-color: #B92928;
	color:#fff;
}

/* essentials rewrite */
.alert.alert-default {
	border-left:#B92928 3px solid;
}

/* item box */
.item-box .item-hover .overlay {
	background-color:rgba(184,41,39,0.6);
}



/*
	Sky Forms
*/
/**/
/* normal state */
/**/
.sky-form .toggle i:before {
	background-color: #B92928;
}
.sky-form .button {
	background-color: #B92928;
}


/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
	background-color: #B92928;
}
.sky-form .checkbox input + i:after {
	color: #B92928;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #B92928;
}
.sky-form .rating input:checked ~ label {
	color: #B92928;
}

/* begin mega-menu headers */


#topNav ul.nav>li.mega-menu h3 {
	margin:10px 0 0 0; /* top, right, bottom, left */
	padding:0;
}

#topNav ul.nav>li.mega-menu a.headerlink {
	font-size:16px;
	line-height:16px;
	margin:0;
	padding:5px;
	color:#B92928;
	border:none;
}


#topNav ul.nav>li.mega-menu a.headerlink:hover {
	color:#ffffff;
	background-color: #B92928;

}

/* end mega-menu headers */


.dropdown-selections .dropdown-menu > li a:hover {
	color:#ffffff;
	background-color: #B92928;

}
